:root {
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f3f3f3;
}

a {
  text-decoration: none;
}

section {
  padding: 15rem 3rem;
  border-top: 1px solid #ddd;
  transition: transform 1s, opacity 1s;
}

/* Utilities */
.btn-primary {
  background: var(--color-primary) !important;
  padding: 0.7rem 1.5rem;
  text-shadow: 1px 1px 3px #fff;
  border-radius: 2rem;
}
.btn-primary:hover {
  opacity: 0.8;
}
.btn-secondary {
  color: var(--color-primary) !important;
  padding: 0.7rem 0;
  font-size: 1.7rem;
  font-weight: bold;
  border-bottom: 1px solid var(--color-primary);
}
.btn-secondary:hover {
  opacity: 0.8;
}
.sticky {
  position: sticky;
  top: 0;
  left: 0;
  background: #fff;
  width: inherit;
  height: inherit;
  z-index: 100;
}
.sec-desc {
  color: var(--color-primary);
  font-weight: bold;
  font-size: 1.8rem;
  text-transform: uppercase;
}
.sec-head {
  font-weight: 500;
  font-size: 4rem;
}

/* //////////////////////////////////////////// */
/* Main CSS */
/* //////////////////////////////////////////// */

/* NAVBAR */
nav {
  width: 100%;
  height: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.logo {
  width: 40%;
  display: flex;
  align-items: center;
  margin-left: 5%;
}
.logo-img {
  width: 15rem;
}

.nav-menu {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
}
.nav-menu a {
  color: #444;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: 400;
  margin-right: -15%;
  border: none;
}
.nav-menu a:nth-child(4) {
  color: inherit;
  font-weight: bold;
}
.nav-menu a:last-child {
  margin-left: -7%;
}

/* ShowCase */
.show-case {
  width: 100%;
  height: calc(100vh - 9rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-show-case {
  width: 60%;
  height: 80%;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-show-case {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.show-case-title {
  font-weight: bold;
  font-size: 5.5rem;
  line-height: 8rem;
}
.custom-style {
  position: relative;
}
.custom-style:after {
  /* Green DIAMOND */
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
  background: var(--gradient-primary);
  transform: skewX(-200deg);
}
.right-show-case {
  width: 35%;
  height: 60%;
}
.right-show-case-img {
  width: 130%;
  height: 130%;
}
.show-case-desc {
  font-size: 2.4rem;
  margin: 3rem 0;
}

/* Features */
#features {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.features-row {
  width: 90%;
  height: max-content;
  margin: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features-row img {
  width: 50%;
  height: 95%;
}
.features-row .fr-inner {
  width: 50%;
  margin-left: 5%;
}
.features-row .fr-inner .fr-icon {
  width: 5.5rem;
  height: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-primary-opacity);
  border-radius: 50%;
}
.features-row .fr-inner svg {
  width: 60%;
  max-width: 60%;
  height: 60%;
  fill: var(--color-primary);
  padding: 0.2rem;
}
.features-row .fri-head {
  font-size: 2rem;
  margin: 1rem;
}
.features-row p {
  color: #666;
  font-size: 1.7rem;
  width: 70%;
  font-weight: 300;
}
