:root {
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f3f3f3;
}

a {
  text-decoration: none;
}

section {
  padding: 15rem 3rem;
  border-top: 1px solid #ddd;
  transition: transform 1s, opacity 1s;
}

/* Utilities */
.btn-primary {
  background: var(--color-primary) !important;
  padding: 0.7rem 1.5rem;
  text-shadow: 1px 1px 3px #fff;
  border-radius: 2rem;
}
.btn-primary:hover {
  opacity: 0.8;
}
.btn-secondary {
  color: var(--color-primary) !important;
  padding: 0.7rem 0;
  font-size: 1.7rem;
  font-weight: bold;
  border-bottom: 1px solid var(--color-primary);
}
.btn-secondary:hover {
  opacity: 0.8;
}
.sticky {
  position: sticky;
  top: 0;
  left: 0;
  background: #fff;
  width: inherit;
  height: inherit;
  z-index: 100;
}
.sec-desc {
  color: var(--color-primary);
  font-weight: bold;
  font-size: 1.8rem;
  text-transform: uppercase;
}
.sec-head {
  font-weight: 500;
  font-size: 4rem;
  margin-bottom: 8rem;
}
.svg-size-bg {
  width: 5.5rem;
  height: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.svg-size {
  width: 60%;
  max-width: 60%;
  height: 60%;
  padding: 0.2rem;
}
.btn {
  background: transparent;
  border: none;
  padding: 1.5rem 3rem;
  border-radius: 2rem;
  cursor: pointer;
}
/* //////////////////////////////////////////// */
/* Main CSS */
/* //////////////////////////////////////////// */

/* NAVBAR */
nav {
  width: 100%;
  height: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.logo {
  width: 40%;
  display: flex;
  align-items: center;
  margin-left: 5%;
}
.logo-img {
  width: 15rem;
}

.nav-menu {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
}
.nav-menu a {
  color: #444;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: 400;
  margin-right: -15%;
  border: none;
}
.nav-menu a:nth-child(4) {
  color: inherit;
  font-weight: bold;
}
.nav-menu a:last-child {
  margin-left: -7%;
}

/* ShowCase */
.show-case {
  width: 100%;
  height: calc(100vh - 9rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-show-case {
  width: 60%;
  height: 80%;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-show-case {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.show-case-title {
  font-weight: bold;
  font-size: 5.5rem;
  line-height: 8rem;
}
.custom-style {
  position: relative;
}
.custom-style:after {
  /* Green DIAMOND */
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
  background: var(--gradient-primary);
  transform: skewX(-200deg);
}
.right-show-case {
  width: 35%;
  height: 60%;
}
.right-show-case-img {
  width: 130%;
  height: 130%;
}
.show-case-desc {
  font-size: 2.4rem;
  margin: 3rem 0;
}

/* Features */
#features,
#operation {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.features-row {
  width: 90%;
  height: max-content;
  margin: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features-row img {
  width: 50%;
  height: 95%;
}
.features-row .fr-inner {
  width: 50%;
  margin-left: 5%;
}
.fr-svg-bg {
  background: var(--color-primary-opacity);
}
.fr-svg {
  fill: var(--color-primary);
}
.features-row .fri-head {
  font-size: 2rem;
  margin: 1rem;
}
.features-row p,
.occ p {
  color: #666;
  font-size: 1.7rem;
  width: 70%;
  font-weight: 300;
}

/* Operations */
.operation-comp {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 2.5rem 4.5rem;
  margin: 2rem 0;
  border-radius: 10px;
  position: relative;
}
.oc-btns {
  position: absolute;
  top: 0;
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
}
.btn-oc--active {
  transform: rotate(-5deg);
  border-bottom-left-radius: 0;
}
.btn-oc {
  margin: 0 0.8rem;
  margin-top: -5rem;
  font-size: 1.45rem;
  font-weight: bold;
}
.btn-oc span {
  margin-right: 0.8rem;
}
.btn-oc1 {
  background: var(--color-secondary);
  color: #444;
}
.btn-oc2 {
  background: var(--color-primary);
  color: #444;
}
.btn-oc3 {
  background: var(--color-tertiary);
  color: #444;
}
.oc-contents {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.oc-content {
  display: grid;
  grid-template-columns: 7rem 1fr;
  column-gap: 3rem;
  row-gap: 0.5rem;
  margin: 4rem;
}
.oc-svg-bg1 {
  background: var(--color-secondary-opacity);
}
.oc-svg1 {
  fill: var(--color-secondary-darker);
}
.oc-svg-bg2 {
  background: var(--color-primary-opacity);
}
.oc-svg2 {
  fill: var(--color-primary-darker);
}
.oc-svg-bg3 {
  background: var(--color-tertiary-opacity);
}
.oc-svg3 {
  fill: var(--color-tertiary-darker);
}

.oc-head {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.occ p {
  display: block;
}

/* Testimonials & Slider */
#testimonial .sec-title {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#testimonial .sec-desc {
  align-self: flex-start;
  margin-left: 15%;
}
/* SLIDER */
.slider {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;
  /* IN THE END */
  overflow: hidden;
}
.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}
.slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
}
.dots__dot:last-child {
  margin: 0;
}
.dots__dot--active {
  background-color: #888;
  opacity: 1;
}

/* TESTIMONIALS */
.testimonial {
  width: 65%;
  position: relative;
}
.testimonial::before {
  content: "\201C";
  position: absolute;
  top: -5.7rem;
  left: -6.8rem;
  line-height: 1;
  font-size: 20rem;
  font-family: inherit;
  color: var(--color-primary);
  z-index: -1;
}
.testimonial__header {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.testimonial__text {
  font-size: 1.7rem;
  margin-bottom: 3.5rem;
  color: #666;
}
.testimonial__author {
  margin-left: 3rem;
  font-style: normal;
  display: grid;
  grid-template-columns: 6.5rem 1fr;
  column-gap: 2rem;
}
.testimonial__photo {
  grid-row: 1 / span 2;
  width: 6.5rem;
  border-radius: 50%;
}
.testimonial__name {
  font-size: 1.7rem;
  font-weight: 500;
  align-self: end;
  margin: 0;
}
.testimonial__location {
  font-size: 1.5rem;
}
.section__title--testimonials {
  margin-bottom: 4rem;
}
